.navtab {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #202020;
  position: absolute;
  width: 100%;
  max-width: 520px;
  height: 100%;
  right: -100%;
  transition: right 0.3s linear;
  z-index: 200;
}

.navtab_open {
  display: flex;
  right: 0;
  transition: right 0.3s linear;
}

.cover {
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: absolute;
  z-index: -200;
  display: none;
}

.cover_open {
  opacity: 0.7;
  display: flex;
}

.navtab__content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 159px;
  z-index: 200;
}

.navtab__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  z-index: 200;
}

.navtab__element {
  margin-bottom: 28px;
}

.navtab__element:last-child {
  margin-bottom: 0;
}

.navtab__link {
  text-decoration: none;
  color: #ffffff;
}

.navtab__link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid #ffffff;
}

.navtab__link_account {
  margin-top: auto;
  margin-bottom: 90px;
  background-color: inherit;
  border: none;
  width: 100px;
  height: 32px;
  background-image: url(../../images/account.svg);
}

.button_exit {
  background-color: inherit;
  border: none;
  width: 22px;
  height: 22px;
  background-image: url(../../images/exit.svg);
  background-position: center;
  background-size: cover;
}

.button_nav {
  position: absolute;
  top: 23px;
  right: 23px;
}
